*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  background-color: #fbfaf4;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.container {
  height: 100svh;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nav {
  width: 100%;
  position: absolute;
  bottom: 40px;
  padding: 0 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  a {
    font: 1em sans-serif;
    color: #ac4518;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

form {
  height: 100svh;
  gap: 1em;
  border-radius: 4px;

  textarea {
    font: 1em sans-serif;
    width: 90%;
    height: 150px;
  }

  button {
    font: 1.5em sans-serif;
    /* Match the font styling of the textarea */
    padding: 0.2em 1em;
    border: 1px solid #ccc;
    background: #eee;
    cursor: pointer;
  }
}
